body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, white, purple);
}

header {
    background: linear-gradient(to right, white, purple);
    color: black;
    padding: 20px 0;
    text-align: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 20px;
}

nav {
    background: #130a0a;
    color: black;
    text-align: center;
    padding: 10px 0;
    background: linear-gradient(to right, white, purple);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, white, purple);
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color:black;
    text-decoration: none;
}

section {
    padding: 20px;
}

section h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    background: linear-gradient(to right, white, purple);
}

.project {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

.project-img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

form button {
    margin-top: 10px;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: #555;
}
